In [1]:
import json

In [5]:
with open('data/users.json') as f:
    data = json.load(f)

In [20]:
frame = pd.DataFrame(data)

In [26]:
frame

,name,email,address,phone
0,Elsy Hurd,elsyhurd@gmail.com,"- 93 Harvey St, Framingham, MA , US, 01701",751-704-6749
1,Blaire Condon,blairecondon@gmail.com,"845 - 910 Linda St, Rock Hill, SC , US, 29730",118-721-2913
2,Morgan Hansen,morganhansen@gmail.com,"754 - 945 Lakewood Ave, Central Islip, NY , US...",121-866-3016
3,Emmey Kirwin,emmeykirwin@gmail.com,"- 266 Sherwood Circle, Potomac, MD , US, 20854",732-918-9919
4,Kellen Millman,kellenmillman@gmail.com,"592 - 600 East Kirkland St, Duarte, CA , US, 9...",725-811-5736
...,...,...,...,...
2495,Alene Garling,alenegarling@gmail.com,"- 33 SW. Arnold Court, Burbank, IL , US, 60459",169-525-2808
2496,Joli Deck,jolideck@gmail.com,"716 - 2 Bohemia Court, Herndon, VA , US, 20170",473-134-350
2497,Madlen Pang,madlenpang@gmail.com,"883 - 365 Randall Mill Street, Hamden, CT , US...",13-55-7256
2498,Dalia Bigod,daliabigod@gmail.com,"547 - 7868 Taylor Drive, El Dorado, AR , US, 7...",728-358-257
2499,Teodora Abie,teodoraabie@gmail.com,"137 - 4 Fordham Drive, Pittsburgh, PA , US, 15206",203-35-3179

In [28]:
frame = pd.concat([frame, pd.DataFrame(list(frame['address'].apply(lambda x: x.split(","))), columns=["street","city", "state","country", "postal"])], axis=1)
del frame['address']

In [43]:
frame['street'] = frame['street'].apply(lambda x: x.replace(' - ','') if x.startswith(' -') else x)

In [45]:
frame

,name,email,phone,street,city,state,country,postal
0,Elsy Hurd,elsyhurd@gmail.com,751-704-6749,93 Harvey St,Framingham,MA,US,01701
1,Blaire Condon,blairecondon@gmail.com,118-721-2913,845 - 910 Linda St,Rock Hill,SC,US,29730
2,Morgan Hansen,morganhansen@gmail.com,121-866-3016,754 - 945 Lakewood Ave,Central Islip,NY,US,11722
3,Emmey Kirwin,emmeykirwin@gmail.com,732-918-9919,266 Sherwood Circle,Potomac,MD,US,20854
4,Kellen Millman,kellenmillman@gmail.com,725-811-5736,592 - 600 East Kirkland St,Duarte,CA,US,91010
...,...,...,...,...,...,...,...,...
2495,Alene Garling,alenegarling@gmail.com,169-525-2808,33 SW. Arnold Court,Burbank,IL,US,60459
2496,Joli Deck,jolideck@gmail.com,473-134-350,716 - 2 Bohemia Court,Herndon,VA,US,20170
2497,Madlen Pang,madlenpang@gmail.com,13-55-7256,883 - 365 Randall Mill Street,Hamden,CT,US,06514
2498,Dalia Bigod,daliabigod@gmail.com,728-358-257,547 - 7868 Taylor Drive,El Dorado,AR,US,71730
2499,Teodora Abie,teodoraabie@gmail.com,203-35-3179,137 - 4 Fordham Drive,Pittsburgh,PA,US,15206

In [9]:
import pandas as pd

In [46]:
frame = pd.read_csv('data/properties.csv')

In [48]:
frame[['postal','state']] = frame[['state','postal']]

In [49]:
frame

,unit,street,city,state,postal,country,property value,existing mortgage amount
0,NaN,93 Harvey St,Framingham,MA,1701,US,25038517,22446604
1,845.0,910 Linda St,Rock Hill,SC,29730,US,168964115,135760868
2,754.0,945 Lakewood Ave,Central Islip,NY,11722,US,105608025,53744956
3,NaN,266 Sherwood Circle,Potomac,MD,20854,US,164673346,52039488
4,592.0,600 East Kirkland St,Duarte,CA,91010,US,186005298,140030873
...,...,...,...,...,...,...,...,...
4204,214.0,3 Philmont Dr,Addison,IL,60101,US,135980718,110480643
4205,471.0,5 Summerhouse Ave,Crofton,MD,21114,US,238682321,214578838
4206,974.0,796 W. Greenview St,Manitowoc,WI,54220,US,289777040,183510441
4207,NaN,839 Division Rd,Louisville,KY,40207,US,108231455,40719892
4208,452.0,8528 Rockledge Street,Bartlett,IL,60103,US,47144,12086

In [107]:
import glob
import ast,re

In [124]:
def extract_data(data):
    try:
        return ast.literal_eval(re.search('({.+})', data).group(0))
    except:
        return { "email": None, "type": None, "message": None}

In [125]:
frame = pd.DataFrame()
for file in glob.glob("data/events/*.txt"):
    with open(file) as f:
        data = f.read()
    df = pd.DataFrame(data.split('\n'),columns=['logs'])
    df['timestamp'] = df['logs'].apply(lambda x: x.split(' GMT')[0])
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    df['data'] = df['logs'].apply(lambda x: extract_data(x))
    df = pd.concat([df,df['data'].apply(pd.Series)], axis=1)
    del df['logs']
    del df['data']
    frame = frame.append(df)
frame = frame.dropna()

In [130]:
frame

,timestamp,email,type,message
0,2021-11-13 12:00:21,olamandle@gmail.com,info,eu velit mollit velit
1,2021-11-13 12:00:31,olamandle@gmail.com,log,exercitation et et proident sit veniam
2,2021-11-13 12:00:53,olamandle@gmail.com,log,est elit eiusmod consectetur laboris
3,2021-11-13 12:01:16,olamandle@gmail.com,warn,adipisicing reprehenderit officia
4,2021-11-13 12:01:41,olamandle@gmail.com,info,eu ullamco cillum deserunt
...,...,...,...,...
9,2021-10-05 12:02:31,joleemilburn@gmail.com,info,veniam ut eiusmod consequat reprehenderit
10,2021-10-05 12:02:35,joleemilburn@gmail.com,debug,est non magna veniam
11,2021-10-05 12:02:49,joleemilburn@gmail.com,test,adipisicing
12,2021-10-05 12:03:19,joleemilburn@gmail.com,debug,reprehenderit deserunt laboris amet aliqua ex
13,2021-10-05 12:03:47,joleemilburn@gmail.com,debug,do aute sunt

In [105]:
df

,timestamp,email,type,message
0,2021-12-03 12:00:23,adelinabenco@gmail.com,debug,laborum do dolor minim sint eu
1,2021-12-03 12:00:24,adelinabenco@gmail.com,warn,quis minim deserunt ipsum est ea